#### Handling Imbalanced Datasets:
1. Upsampling
2. Downsampling

In [1]:
import pandas as pd
import numpy as np

In [9]:
# creating an imbalanced dataset
dataset={'Age':[12,15,23,43,55,21,22,34,90,54],'Disease':['Yes','Yes','No','Yes','Yes','Yes','No','Yes','Yes','No']}
data=pd.DataFrame(dataset)
data

   Age Disease
0   12     Yes
1   15     Yes
2   23      No
3   43     Yes
4   55     Yes
5   21     Yes
6   22      No
7   34     Yes
8   90     Yes
9   54      No

In [13]:
data['Disease'].value_counts()

Disease
Yes    7
No     3
Name: count, dtype: int64

In [15]:
# upsampling the data
data_majority=data[data['Disease']=='Yes']
data_minority=data[data['Disease']=='No']

from sklearn.utils import resample
data_minority_resampled=resample(data_minority, replace=True , # sample with replacement
    n_samples=len(data_majority),
    random_state=42 )

data_minority_resampled

   Age Disease
9   54      No
2   23      No
9   54      No
9   54      No
2   23      No
2   23      No
9   54      No

In [16]:
data_minority_resampled.shape

(7, 2)

In [18]:
balanced_dataset=pd.concat([data_minority_resampled, data_majority])
balanced_dataset

   Age Disease
9   54      No
2   23      No
9   54      No
9   54      No
2   23      No
2   23      No
9   54      No
0   12     Yes
1   15     Yes
3   43     Yes
4   55     Yes
5   21     Yes
7   34     Yes
8   90     Yes

In [19]:
balanced_dataset['Disease'].value_counts()

Disease
No     7
Yes    7
Name: count, dtype: int64

In [20]:
# downsampling
data_majority=data[data['Disease']=='Yes']
data_minority=data[data['Disease']=='No']

from sklearn.utils import resample
data_majority_resampled=resample(data_majority, replace=False ,
    n_samples=len(data_minority),
    random_state=42 )

data_majority_resampled

   Age Disease
0   12     Yes
1   15     Yes
7   34     Yes

In [21]:
balanced_dataset=pd.concat([data_majority_resampled, data_minority])
balanced_dataset

   Age Disease
0   12     Yes
1   15     Yes
7   34     Yes
2   23      No
6   22      No
9   54      No

In [23]:
balanced_dataset['Disease'].value_counts()

Disease
Yes    3
No     3
Name: count, dtype: int64