In [1]:
import pandas as pd
from io import StringIO

#### Reading json

In [2]:
# Reading json (javascript object notation)
data = '{"name":"han khan","age":23,"city":"madrid","job_profile":["software developer","machine learning expert"]}'
df=pd.read_json(StringIO(data))
df

       name  age    city              job_profile
0  han khan   23  madrid       software developer
1  han khan   23  madrid  machine learning expert

In [3]:
df.to_json()

'{"name":{"0":"han khan","1":"han khan"},"age":{"0":23,"1":23},"city":{"0":"madrid","1":"madrid"},"job_profile":{"0":"software developer","1":"machine learning expert"}}'

In [4]:
df.to_json(orient='records')

'[{"name":"han khan","age":23,"city":"madrid","job_profile":"software developer"},{"name":"han khan","age":23,"city":"madrid","job_profile":"machine learning expert"}]'

#### Reading URLs

In [5]:
# Reading from urls
import ssl

ssl._create_default_https_context = ssl._create_unverified_context
url="https://en.wikipedia.org/wiki/List_of_telephone_country_codes"
pd.read_html(url)

[   Unnamed: 0                                              x = 0  \
 0         NaN                                                NaN
 1           1                   1: North American Numbering Plan
 2           1  1 (NPA): The states of the United States and p...
 3           1                                                NaN
 4         NaN                                                NaN
 5          2x                                             20: EG
 6         21x                                             210: —
 7         22x                                            220: GM
 8         23x                                            230: MU
 9         24x                                            240: GQ
 10        25x                                            250: RW
 11        26x                                            260: ZM
 12        29x                                        290: SH, TA
 13        NaN                                                NaN
 14         3x                                             30: GR
 15        35x                                            350: GI
 16        37x                                            370: LT
 17        38x                                            380: UA
 18        NaN                                                NaN
 19         4x                                             40: RO
 20        42x                                            420: CZ
 21        NaN                                                NaN
 22         5x                                              50: ↙
 23        50x                                        500: FK, GS
 24        59x                                    590: GP, BL, MF
 25        NaN                                                NaN
 26         6x                                             60: MY
 27        67x                                            670: TL
 28        68x                                            680: PW
 29        69x                                            690: TK
 30        NaN                                                NaN
 31         7x            7: Integrated numbering plan for KZ, RU
 32         7x                                          7 (0): KZ
 33        NaN                                                NaN
 34         8x                                              80: ↙
 35        80x                                            800: **
 36        85x                                            850: KP
 37        87x                                            870: **
 38        88x                                            880: BD
 39        NaN                                                NaN
 40         9x                                         90: TR, CT
 41        96x                                            960: MV
 42        97x                                            970: PS
 43        99x                                             990: —
 44        NaN                                                NaN
 45        NaN                                              x = 0

                                                 x = 1  \
 0                                                 NaN
 1                    1: North American Numbering Plan
 2   1 (NPA): The states of the United States and p...
 3                                                 NaN
 4                                                 NaN
 5                                               21: ↙
 6                                             211: SS
 7                                             221: SN
 8                                             231: LR
 9                                             241: GA
 10                                            251: ET
 11                                            261: MG
 12                                            291: ER
 13                                                NaN
 14                                             31: NL
 15                                            351: PT
 16                                            371: LV
 17                                            381: RS
 18                                                NaN
 19                                             41: CH
 20                                            421: SK
 21                                                NaN
 22                                             51: PE
 23                                            501: BZ
 24                                            591: BO
 25                                                NaN
 26                                     61: AU, CX, CC
 27                                             671: —
 28                                            681: WF
 29                                            691: FM
 30                                                NaN
 31            7: Integrated numbering plan for KZ, RU
 32                                          7 (1): RU
 33                                                NaN
 34                                             81: JP
 35                                             801: —
 36                                             851: —
 37                                             871: —
 38                                            881: **
 39                                                NaN
 40                                             91: IN
 41                                            961: LB
 42                                            971: AE
 43                                            991: **
 44                                                NaN
 45                                              x = 1

                                                 x = 2  \
 0                                                 NaN
 1                    1: North American Numbering Plan
 2   1 (NPA): The states of the United States and p...
 3   1 (242): BS 1 (246): BB 1 (264): AI 1 (268): A...
 4                                                 NaN
 5                                               22: ↙
 6                                         212: MA, EH
 7                                             222: MR
 8                                             232: SL
 9                                             242: CG
 10                                            252: SO
 11                                   262: RE, YT,  TF
 12                                             292: —
 13                                                NaN
 14                                             32: BE
 15                                            352: LU
 16                                            372: EE
 17                                            382: ME
 18                                                NaN
 19                                              42: ↙
 20                                             422: —
 21                                                NaN
 22                                             52: MX
 23                                            502: GT
 24                                            592: GY
 25                                                NaN
 26                                             62: ID
 27                                        672: NF, AQ
 28                                            682: CK
 29                                            692: MH
 30                                                NaN
 31            7: Integrated numbering plan for KZ, RU
 32                                          7 (2): RU
 33                                                NaN
 34                                             82: KR
 35                                             802: —
 36                                            852: HK
 37                                             872: —
 38                                            882: **
 39                                                NaN
 40                                             92: PK
 41                                            962: JO
 42                                        972: IL, PS
 43                                            992: TJ
 44                                                NaN
 45                                              x = 2

                                                 x = 3  \
 0                                                 NaN
 1                    1: North American Numbering Plan
 2   1 (NPA): The states of the United States and p...
 3                             1 (340): VI 1 (345): KY
 4                                                 NaN
 5                                               23: ↙
 6                                             213: DZ
 7                                             223: ML
 8                                             233: GH
 9                                             243: CD
 10                                            253: DJ
 11                                            263: ZW
 12                                             293: —
 13                                                NaN
 14                                             33: FR
 15                                            353: IE
 16                                            373: MD
 17                                            383: XK
 18                                                NaN
 19                                             43: AT
 20                                            423: LI
 21                                                NaN
 22                                             53: CU
 23                                            503: SV
 24                                            593: EC
 25                                                NaN
 26                                             63: PH
 27                                            673: BN
 28                                            683: NU
 29                                             693: —
 30                                                NaN
 31            7: Integrated numbering plan for KZ, RU
 32                                          7 (3): RU
 33                                                NaN
 34                                              83: —
 35                                             803: —
 36                                            853: MO
 37                                             873: —
 38                                            883: **
 39                                                NaN
 40                                             93: AF
 41                                            963: SY
 42                                            973: BH
 43                                            993: TM
 44                                                NaN
 45                                              x = 3

                                                 x = 4  \
 0                                                 NaN
 1                    1: North American Numbering Plan
 2   1 (NPA): The states of the United States and p...
 3                             1 (441): BM 1 (473): GD
 4                                                 NaN
 5                                               24: ↙
 6                                              214: —
 7                                             224: GN
 8                                             234: NG
 9                                             244: AO
 10                                            254: KE
 11                                            264: NA
 12                                             294: —
 13                                                NaN
 14                                             34: ES
 15                                            354: IS
 16                                            374: AM
 17                                             384: —
 18                                                NaN
 19                                 44: GB, GG, IM, JE
 20                                             424: —
 21                                                NaN
 22                                             54: AR
 23                                            504: HN
 24                                            594: GF
 25                                                NaN
 26                                         64: NZ, PN
 27                                            674: NR
 28                                             684: —
 29                                             694: —
 30                                                NaN
 31            7: Integrated numbering plan for KZ, RU
 32                                          7 (4): RU
 33                                                NaN
 34                                             84: VN
 35                                             804: —
 36                                             854: —
 37                                             874: —
 38                                             884: —
 39                                                NaN
 40                                             94: LK
 41                                            964: IQ
 42                                            974: QA
 43                                            994: AZ
 44                                                NaN
 45                                              x = 4

                                                 x = 5  \
 0                                                 NaN
 1                    1: North American Numbering Plan
 2   1 (NPA): The states of the United States and p...
 3                                                 NaN
 4                                                 NaN
 5                                               25: ↙
 6                                              215: —
 7                                             225: CI
 8                                             235: TD
 9                                             245: GW
 10                                            255: TZ
 11                                            265: MW
 12                                             295: —
 13                                                NaN
 14                                              35: ↙
 15                                            355: AL
 16                                            375: BY
 17                                            385: HR
 18                                                NaN
 19                                             45: DK
 20                                             425: —
 21                                                NaN
 22                                             55: BR
 23                                            505: NI
 24                                            595: PY
 25                                                NaN
 26                                             65: SG
 27                                            675: PG
 28                                            685: WS
 29                                             695: —
 30                                                NaN
 31            7: Integrated numbering plan for KZ, RU
 32                                          7 (5): RU
 33                                                NaN
 34                                              85: ↙
 35                                             805: —
 36                                            855: KH
 37                                             875: —
 38                                             885: —
 39                                                NaN
 40                                             95: MM
 41                                            965: KW
 42                                            975: BT
 43                                            995: GE
 44                                                NaN
 45                                              x = 5

                                                 x = 6  \
 0                                                 NaN
 1                    1: North American Numbering Plan
 2   1 (NPA): The states of the United States and p...
 3   1 (649): TC 1 (658): JM 1 (664): MS 1 (670): M...
 4                                                 NaN
 5                                               26: ↙
 6                                             216: TN
 7                                             226: BF
 8                                             236: CF
 9                                             246: IO
 10                                            256: UG
 11                                            266: LS
 12                                             296: —
 13                                                NaN
 14                                             36: HU
 15                                            356: MT
 16                                            376: AD
 17                                            386: SI
 18                                                NaN
 19                                             46: SE
 20                                             426: —
 21                                                NaN
 22                                             56: CL
 23                                            506: CR
 24                                            596: MQ
 25                                                NaN
 26                                             66: TH
 27                                            676: TO
 28                                            686: KI
 29                                             696: —
 30                                                NaN
 31            7: Integrated numbering plan for KZ, RU
 32                                          7 (6): KZ
 33                                                NaN
 34                                             86: CN
 35                                             806: —
 36                                            856: LA
 37                                             876: —
 38                                            886: TW
 39                                                NaN
 40                                              96: ↙
 41                                            966: SA
 42                                            976: MN
 43                                            996: KG
 44                                                NaN
 45                                              x = 6

                                                 x = 7  \
 0                                                 NaN
 1                    1: North American Numbering Plan
 2   1 (NPA): The states of the United States and p...
 3   1 (721): SX 1 (758): LC 1 (767): DM 1 (784): V...
 4                                                 NaN
 5                                              27: ZA
 6                                              217: —
 7                                             227: NE
 8                                             237: CM
 9                                             247: AC
 10                                            257: BI
 11                                            267: BW
 12                                            297: AW
 13                                                NaN
 14                                              37: ↙
 15                                            357: CY
 16                                            377: MC
 17                                            387: BA
 18                                                NaN
 19                                      47: NO, SJ BV
 20                                             427: —
 21                                                NaN
 22                                             57: CO

#### Reading Excel Files

In [ ]:
# Reading from excel files
data=pd.read_excel("11 B.xlsx")
data

,Name,Surname,Nickname,Birthday,Hobbies,Insta ID
0,AARAV,GUPTE,NaN,30/08/2005,"football, cooking, songs, huge b99 fan",aarav_3008
1,ABHYUDAY,JAIN,NaN,2004-03-09 00:00:00,NaN,NaN
2,ADITHYA,KUMAR,NaN,14/09/2005,NaN,NaN
3,ADITYA,BANERJEE,NaN,17/07/2005,"football,football,football.......................",@adityabanerjee17
4,JASHAN,SAHNI,NaN,26/09/05,NaN,NaN
5,MANAV,Harish,NaN,19/04/2005,NaN,NaN
6,MANISH,RAJE,NaN,28/10/2005,"gaming ,chess ,timepass ,cricket, rocket league.",@manish.raje28
7,PRASHAM,SATRA,NaN,26/03/2005,"listening to and reviewing music, talking to s...",@prasham_satra
8,ROHAN,Mehta,NaN,21/12/2005,"Politics, reading about countries and cricket",rohan.mehta888
9,RYAN,PINTO,NaN,27/03/2005,NaN,@struck_by_madness
10,SARTHAK,BELKAR,NaN,17/06/2005,NaN,NaN
11,TANISH,PATIL,TanPat,17/12/2005,"gaming, unity, blender, YouTube, and pirating ...",NaN
12,UDIT,BANSAL,latestion,2005-03-06 00:00:00,"gaming, coding",@latestion0529
13,VIHANN,PADWAL,NaN,2005-02-09 00:00:00,NaN,NaN
14,AAKANKSHA,SAKHARE,NaN,2005-12-04 00:00:00,NaN,NaN
15,AARADHYA,SRIVASTAVA,NaN,19/01/2005,NaN,NaN
16,AARYA,INAMDAR,NaN,19/03/2005,NaN,@__aaarya
17,ANANNYA,ROKDE,NaN,17/11/2005,NaN,@anannyarokde
18,ANANYA,VEERKAR,"ana, anu, chiku",2005-03-02 00:00:00,"football, any sport, Timepass max, kpoop, k d...",@Angrysaint_03
19,ANUSHKA,DESAI,-,04/ 02 / 2005,"Playing sports, listening to music, binge-watc...","@rlr0402, @trynamakeedits"
20,ANUSHKA,CHAUBEY,annu ig,28/05/2005,"Dance,reading sortta,shows,badminton,thriller/...",@anushkad_c
21,ANUSHKA,SUNDAR,NaN,24/12/2004,NaN,NaN
22,BHARVI,VAISHNAV,NaN,2005-05-02 00:00:00,NaN,NaN
23,GAURI,RAJE,NaN,29/05/2005,NaN,NaN
24,HRITIKA,MISHRA,NaN,23/07/2005,NaN,NaN
25,ISHA,Jain,NaN,26/03/2005,NaN,NaN
26,ISHAANI,Prashant,NaN,2005-04-10 00:00:00,"Writing songs, dance, reading crime novels",@ishaani05
27,KHUSHI,MUNDRA,K,2005-05-05 00:00:00,Drawing singing reading .Taylor Swift fan✌️✨,NaN
28,KHUSHI,VORA,"khu, cook, sushi",2005-12-01 00:00:00,"dancing, singing, reading, kpop, kdrama and food",@kkhushi_
29,KRITHIKA,NAIR,krits,2005-09-05 00:00:00,"singing, watching series, foodie, movies",@krithika_nair_216
30,MANYA,ROHRA,NaN,24/03/2005,NaN,NaN
31,POOJA,RAMDAS,NaN,22/04/2005,NaN,NaN
32,PRISHA,SURVE,NaN,29/03/2005,NaN,NaN
33,PRIYANKA,SHIRGUR,NaN,2005-12-04 00:00:00,"dancing, eating without getting fat, sleeping,...",@priyanka_shirgur
34,REVA,SHUKLA,NaN,2006-01-23 00:00:00,NaN,NaN
35,RIDDHI,THAKUR,rid,25/11/2005,"singing,badminton,reading books",@riiidddzzzzzzz
36,RITI,KAMERKAR,NaN,24/02/2005,sleeping,@riti.not.carmekar
37,SANIYA,PRADHAN,san,28/01/2005,sports fitness khana and ghumnaaaa,@saniya.gif
38,SEMANTIKA,SHARMA,NaN,2005-12-03 00:00:00,NaN,NaN
39,SHARANYA,NAIR,NaN,16/09/2005,NaN,NaN
40,SMEERA,Nair,NaN,22/09/2005,"singing ,foodie, playing piano and playing ch...",no account
41,SONALI,Yadav,NaN,24/02/2005,NaN,NaN
42,SUBHIKSHA,SURESH,a,18/03/2005,NaN,NaN
43,SUCHANDA,DUTTA,"suchu, chanda",22/03/2005,"drawing, karate, playing chess, sleeping, read...",such_and_a_
44,TANISHA,KAMAT,NaN,2005-10-07 00:00:00,NaN,no account
45,VAIBHAVI,Rajadhyaksha,NaN,21/01/2005,NaN,NaN
46,VAISHNAVI,Jha,veronica,NaN,"cricket,football,listening and playing music,d...",@_veronica____1d
47,VENISA,TELLIS,NaN,22/10/05,NaN,NaN