### SQL and SQLite
SQL (sructured query language) is the standard language for managing and manipulating relational databases. SQLite is a self contained serverless and zero configuration database engine that is widely used for embedded database systems.

In [1]:
import sqlite3

In [2]:
# connect to an sql database
connection=sqlite3.connect('example.db')
connection

In [3]:
cursor=connection.cursor()

In [4]:
# create a table
cursor.execute('''
Create table if not exists employees(
    id Integer primary key,
    name text not null,
    age integer,
   department text)
''')

# commit the changes
connection.commit()

In [5]:
cursor.execute('''
    Select * from Employees
''')

In [7]:
# inserting data in sqlite3 database
cursor.execute('''
Insert Into Employees(name,age,department)
               Values('Bob',25,'Engineering')
''')

cursor.execute('''
Insert Into Employees(name,age,department)
               Values('David',32,'Finance')
''')

cursor.execute('''
Insert Into Employees(name,age,department)
               Values('Charles',17,'Plumber')
''')

connection.commit()

In [8]:
# query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

# print the queries data
for row in rows:
    print(row)

(1, 'Bob', 25, 'Engineering')
(2, 'David', 32, 'Finance')
(3, 'Charles', 17, 'Plumber')
(4, 'Bob', 25, 'Engineering')
(5, 'David', 32, 'Finance')
(6, 'Charles', 17, 'Plumber')

In [9]:
# updating the data
cursor.execute('''
Update employees
               set age=19
               where name="Charles"
''')
connection.commit()

In [10]:
# query the data
cursor.execute(' select * from employees')
rows=cursor.fetchall()

# print the queries data
for row in rows:
    print(row)

(1, 'Bob', 25, 'Engineering')
(2, 'David', 32, 'Finance')
(3, 'Charles', 19, 'Plumber')
(4, 'Bob', 25, 'Engineering')
(5, 'David', 32, 'Finance')
(6, 'Charles', 19, 'Plumber')

In [12]:
# deleting data
cursor.execute('''
delete from employees
               where name="David"
''')

connection.commit()

In [13]:
cursor.execute('select * from employees')
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'Bob', 25, 'Engineering')
(3, 'Charles', 19, 'Plumber')
(4, 'Bob', 25, 'Engineering')
(6, 'Charles', 19, 'Plumber')