In [1]:
corpus="Hello, I am Aditya. I am 20 years old. I am a boy. I love Football."

In [2]:
corpus

'Hello, I am Aditya. I am 20 years old. I am a boy. I love Football.'

In [7]:
# Tokenizing our courpus
# Corpus ---> Sentences

from nltk.tokenize import sent_tokenize
documents = sent_tokenize(corpus)

In [8]:
documents

['Hello, I am Aditya.',
 'I am 20 years old.',
 'I am a boy.',
 'I love Football.']

In [9]:
type(documents)

list

In [10]:
for sentence in documents:
    print(sentence)

Hello, I am Aditya.
I am 20 years old.
I am a boy.
I love Football.

In [21]:
# Sentences ---> Words

from nltk.tokenize import word_tokenize, wordpunct_tokenize
words=word_tokenize(corpus)

In [22]:
words

['Hello',
 ',',
 'I',
 'am',
 'Aditya',
 '.',
 'I',
 'am',
 '20',
 'years',
 'old',
 '.',
 'I',
 'am',
 'a',
 'boy',
 '.',
 'I',
 'love',
 'Football',
 '.']

In [23]:
for sentence in documents:
    words=word_tokenize(text=sentence)
    print(words)

['Hello', ',', 'I', 'am', 'Aditya', '.']
['I', 'am', '20', 'years', 'old', '.']
['I', 'am', 'a', 'boy', '.']
['I', 'love', 'Football', '.']

In [24]:
for sentence in documents:
    words=wordpunct_tokenize(sentence)
    print(words)

['Hello', ',', 'I', 'am', 'Aditya', '.']
['I', 'am', '20', 'years', 'old', '.']
['I', 'am', 'a', 'boy', '.']
['I', 'love', 'Football', '.']

In [27]:
from nltk import TreebankWordTokenizer
tokenizer=TreebankWordTokenizer()

print(tokenizer.tokenize(corpus))

['Hello', ',', 'I', 'am', 'Aditya.', 'I', 'am', '20', 'years', 'old.', 'I', 'am', 'a', 'boy.', 'I', 'love', 'Football', '.']

word_tokenizer: tokenizes every single word

wordpunct_tokeizer: tokenizes every single word along with punctuatio marks other than sentrence ending punctuation marks

TreeBankTokenizer: does not take full stop as an individual word except the last full stop